<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="myServiceBehavior" >
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>

    <services>
      <service name="MyWcfService.MyService"
          behaviorConfiguration="myServiceBehavior" >
        <endpoint name="webHttpBinding"
                  address="http://localhost:8666/MyService.svc" binding="webHttpBinding"
                  contract="MyWcfService.IMyService"
                  bindingConfiguration="webHttpBindingWithJsonP"
                  behaviorConfiguration="webHttpBehavior"
                  >
        </endpoint>
      </service>
    </services>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true"/>
      </webScriptEndpoint>
    </standardEndpoints>

  </system.serviceModel>

</configuration>